<div class="clearfix mxn2">
  <div class="col sm-col-9 px2">
    <h3 class="mb2">About me</h3>
    <p>
      I love programming and learning new things through the internet. I am
      especially into embedded systems, operating systems and DIY drones stuff.
      I learn to play ney(end-blown flute) in my spare time. I enjoy spending
      time on problems that some people find intractable. It feels great to help
      people solve their mind-blowing problems. It is like another hobby to me.
      It would be a part of my blog slogan if I had enough room. For more
      information, check out
      <a href="{{ site.nav.main.writing }}">writing</a> and
      <a href="{{ site.nav.main.projects }}">projects</a>.
    </p>
  </div>
  <div class="col sm-col-3 px2">
    <h3 class="mb2">Contact</h3>
    {% include contact.html %}
  </div>
</div>
